---
import  FormattedDate  from './FormattedDate.astro';
import { BASE_URL } from '../consts';
const { post } = Astro.props;
---
<li>
    <a href={`${BASE_URL}/blog/${post.slug}/`}>
        <div class="img-wrapper">
        <img width={720} height={720} src={post.data.heroImage} alt="" />
    </div>
    <div class="contents">
        <h6 class="title">{post.data.title}</h6>
        <p class="description">
            {post.data.description}
        </p>
        <p class="date">
            <FormattedDate date={post.data.pubDate} />
        </p>
    </div>
    </a>
</li>